@media (min-width: 576px) {
    .site-header .navbar-brand img {
        max-height: 45px;
    }
  }
  
  @media (min-width: 768px) {
      .site-footer {
          text-align: left;
      }
      .footer-bottom {
          text-align: center;
      }
  }
  
  
  @media (min-width: 992px) {
     .site-header .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
     }
  }
  
  @media (min-width: 1200px) {
  }