.text-primary-emphasis {
    color: var(--primary-color);
}

.bg-primary-subtle {
    background-color: #cfe2ff;
}
.bg-secondary-subtle {
    background-color: #e2e3e5;
}

.mt-6 { margin-top: 4rem !important; }
.mb-6 { margin-bottom: 4rem !important; }
.pt-6 { padding-top: 4rem !important; }
.pb-6 { padding-bottom: 4rem !important; }
.py-6 { padding-top: 4rem !important; padding-bottom: 4rem !important; }
.px-6 { padding-left: 4rem !important; padding-right: 4rem !important; }


.rounded-lg {
    border-radius: 0.5rem !important;
}

.shadow-sm { box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important; }
.shadow { box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; }
.shadow-lg { box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important; }

.cursor-pointer {
    cursor: pointer;
}

.flex-grow-0 { flex-grow: 0 !important; }
.flex-shrink-0 { flex-shrink: 0 !important; }